.featuredProduct {
    position: relative;
}

.header {
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton {
    padding: 13px;
    border: none;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-black);
    cursor: pointer;
}

.bannerBlock {
    position: relative;
    margin-bottom: 42px;
}

.bannerBlock__flag {
    position: absolute;
    bottom: 0;
    left: 0;
}

.flag {
    width: 272px;
    min-height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
}

.image {
    display: block;
    width: 100%;
}

.description {
    display: flex;
    justify-content: space-between;
}

.description__title {
    font-size: 22px;
}

.about {
    max-width: 690px;
}

.details {
    text-align: end;
}
