.productCard {
    position: relative;
    max-width: 380px;
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
}

.productCard__mark {
    position: absolute;
    top: 0;
    left: 0;
}

.picture {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 3;
    overflow: hidden;
}

.picture__image {
    object-fit: cover;
}

.image {
    display: block;
    width: 100%;
    height: 100%;

}

.productCard__button {
    position: absolute;
    width: 100%;
    min-height: 46px;
    bottom: 0;

    opacity: 0;
    transition: opacity 0.5s;
}

.productCard:hover .productCard__button {
    opacity: 100;
}

.addButton {
    padding: 13px;
    border: none;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-black);
    cursor: pointer;
}

.description {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.category,
.name {
    margin-bottom: 8px;
    font-weight: 700;
    text-transform: capitalize;
}

.category {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: var(--color-grey);
}

.price {
    font-size: 29px;
    line-height: 32px;
    color: var(--color-grey);
}

.name {
    font-size: 34px;
    line-height: 37px;
}

.mark {
    padding: 7px 7px 7px 20px;
    font-size: 20px;
    line-height: 22px;
    background-color: var(--color-white);
}
