.storefront {
    position: relative;
}

.storefront__header {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
}

.storefront__main {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.storefront__filters {
    flex: 0 1 268px;
}

.storefront__products {
    flex: 1 1 350px;
}

.filter {
    border-bottom: var(--border-block_thin);
}

.filter:last-child {
    border-bottom: none;
}

.productFilter {
    margin: 0;
    padding: 0;
}

.productFilter__item {
    list-style: none;
}

.filterLabel {
    display: flex;
}

.pagination {
    position: relative;
    display: flex;
    justify-content: center;
}

.pagination__navigationButton {
    visibility: hidden;
}

.pagination__navigationButton_visible {
    visibility: visible;
}

.paginationList {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}