.storefront {
    position: relative;
}

.storefront__header {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
}

.storefront__main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.storefront__filter {
    flex: 0 1 268px;
}

.storefront__filter_show {
    visibility: visible;
}

.storefront__filter_hide {
    visibility: hidden;
}

.storefront__filter_mobile {
    position: absolute;
    z-index: 10;
    width: 100%;
    background: var(--color-white);
}

.storefront__products {
    flex: 1 1 350px;
}

.header__subcategory {
    font-weight: 400;
    color: var(--color-grey);
}

.products {
    display: flex;
    flex-direction: column;
}