.storefront {
    position: relative;
}

.storefront__header {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
}

.storefront__main {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.storefront__filters {
    flex: 0 1 268px;
}

.storefront__products {
    flex: 1 1 350px;
}

.header {

}

.sortDirectionButton {
    margin: 0;
    border: none;
    background: none;
    font-size: 22px;
    line-height: 24px;
    color: var(--color-grey);
}

.sortDirectionButton__text {
    margin-left: 7px;
}

.sortTypeSelect {
    border: none;
    font-size: 22px;
    line-height: 24px;
    background: none;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header__subcategory {
    font-weight: 400;
    color: var(--color-grey);
}

.filter {
    border-bottom: var(--border-block_thin);
}

.filter:last-child {
    border-bottom: none;
}

.filterHeader {
    margin-bottom: 43px;
}

.productFilter {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 24px;
}

.productFilter__item {
    margin: 40px 0;
    list-style: none;
}

.filterLabel {
    display: flex;
    align-items: center;
}

.filterCheckbox {
    margin: 0 23px 0 0;
}

.products {
    display: flex;
    flex-direction: column;
}