:root {
  /* colors */
  --color-white: #fff;
  --color-light-grey: #E4E4E4;
  --color-grey: #656565;
  --color-black: #000;

  /* borders */
  --border-block: 4px solid var(--color-light-grey);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
